<app-header (changeDashEvent)="updateDashboardVisibility($event)" />

<div class="content">

  <div class="empty-dash">
    <app-dash-board *ngIf="isDashBoardVisible"></app-dash-board>
  </div>

  <div class="container">

    @defer { <!--Defer is when component needs to load so we show something while loading-->

      @if (listePatient().length === 0) { <!--Liste rahi fargha-->

        <div class="center-div">
          <img src="../../../../../assets/images/Task_empty.png" width="280px" >
          <h3>Aucun patient trouvé</h3>
          <h4>Tous les patients possédent déja un compte, vous pouvez crée des nouveaux sur la page d'acceuil</h4>
        </div>

      } @else {

        <h2>Liste des patients sans compte:</h2>

        @for (item of listePatient(); track item.nss) { <!--For each patient ndirou ceci-->

          <div class="item" (click)="goConsult(item.id)">
      
            <div class="profile">
              <h3>{{ item.user.first_name }} {{ item.user.last_name }}</h3>
              <p>Nss: {{ item.nss }} </p>
            </div>
             
            <div class="empty-div"></div>

            <div class="qr-code">
              <img [src]="item.qrcode" alt="QR Code" />
            </div>  
          </div>
        }

      }
  
      
    } @loading (minimum 2s) { <!--Nesstennaw minimum 4s besh naffichiw @defer-->
      <div class="center-div">
        <app-loading-screen />
      </div>
    }
  
  </div>
</div>
