/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

@font-face {
  font-family: 'SF Pro Display';
  src: url('assets/fonts/SF-Pro-Display-Regular.otf') format('truetype'),
    url('assets/fonts/SF-Pro-Display-Bold.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

html, body {
  font-family: "SF Pro Display", "Quicksand";
  margin: 0;
  padding: 0;
  height: 100%;
  scrollbar-width: none;
}

* {
  outline: none;
}