<app-header (changeDashEvent)="updateDashboardVisibility($event)" />

<div class="content">

  <!-- Dashboard visibility -->
  <div class="empty-dash">
    <app-dash-board *ngIf="isDashBoardVisible"></app-dash-board>
  </div>

  @defer {

  <!-- Consultations Title -->
  <div class="consultations-container">
    <h2>Consultations</h2>

    <div *ngIf="consultations.length === 0" class="no-consultations">
      <p>Aucune consultation disponible pour le moment.</p>
    </div>

    <button class="card-button" *ngIf="user.role === 'Medcin'" (click)="isAjoutConsultation = true" style="margin: auto;">Ajouter consultation</button>

    <div *ngIf="consultations.length > 0" class="consultations-list">
      <ul>
        <li *ngFor="let consultation of consultations" class="consultation-item" (click)="showDetails(consultation)">
          <div class="profile">
            <h3>Consultation ID : {{ consultation.id }}</h3>
            <p><strong>Médecin traitant :</strong> {{ consultation.medcin_nom }}</p>
            <p><strong>Date :</strong> {{ consultation.date | date }}</p>
          </div>
        </li>
      </ul>
    </div>

    @if (isAjoutConsultation) {

      <div class="grey-div" (click)="annuler($event)">

        <div class="card">

          <div class="horiz">

            <h4>Diagnostiqué:</h4>

            <select [(ngModel)]="newConsultation.trouveDiagnostic">
              <option value="false">non</option>
              <option value="true">oui</option>
            </select>

          </div>

          <div class="horiz">

            <h4>Date:</h4>
            <input type="date" [(ngModel)]="dateInput1">
            <input type="time" [(ngModel)]="timeInput1">

          </div>

          <div class="horiz">

            <h4>ProchaineDate:</h4>
            <input type="date" [(ngModel)]="dateInput2">
            <input type="time" [(ngModel)]="timeInput2">

          </div>

          <div class="horiz">

            <h4>Raison d'admission: </h4>
            <input type="text" [(ngModel)]="newConsultation.raison_admission">

          </div>

          <div class="horiz">
            <button class="annuler" (click)="annuler($event)">Annuler</button>
            <button (click)="ajoutConsultation()">Créer Consultation</button>
          </div>
          
        </div>

      </div>


    }
  </div>

  <!-- Popup for Consultation Details -->
  <div class="popup" *ngIf="isPopupVisible()">
    <div class="popup-content">
      <h2>Détails de la consultation</h2>
      <p><strong>Médecin traitant :</strong> {{ selectedConsultation.medcin_nom }}</p>
      <p><strong>Date :</strong> {{ selectedConsultation.date | date }}</p>
      <p><strong>Date de la rochaine consultation :</strong> {{ selectedConsultation.dateProchaineCons | date }}</p>
      <p><strong>Diagnostic trouvé :</strong> {{ selectedConsultation.trouveDiagnostic ? 'Oui' : 'Non' }}</p>
      <p><strong>Motif d'admission :</strong> {{ selectedConsultation.raison_admission }}</p>
      <button (click)="closePopup()">Close</button>
    </div>
  </div>
  }
  @loading (minimum 0.5s) {
  <div class="center-div">
    <app-loading-screen />
  </div>
  }
</div>