<app-header (changeDashEvent)="updateDashboardVisibility($event)" />

<div class="content">

  <div class="empty-dash">
    <app-dash-board *ngIf="isDashBoardVisible"></app-dash-board>
  </div>

  <div class="container">
    @defer {
      <div class="container2">
        <!-- First Container: DPI title -->
        <div class="dpi-title">
          <h2>DPI</h2>
        </div>

        <!-- Second Container: Patient Information Card -->
        <div class="patient-info-card">
          <div class="card-info">
            <p><strong>Patient:</strong> {{patient.user.last_name}} {{patient.user.first_name}}</p>
            <p><strong>NSS:</strong> {{patient.nss}}</p>
            <p><strong>Créé le :</strong> {{ dossier.dateAdmission }} </p>
            <p><strong>Nombre d'hospitalisations:</strong> {{dossier.ordannance.length}} </p>
          </div>
          <div class="last-modif">
            <p class="modif"><strong>Derniere modification</strong></p>
            <p class="date"> {{dossier.dateMaj }} </p>
            <button (click)="changePatientState()" [style]="patient.en_cours_traitement ? 'background-color:#FF7878':'' ">Status: {{patient.en_cours_traitement ? 'Hospitalisé':'Abscent'}}</button>

          </div>
        </div>

        <!-- Third Container: Buttons -->
        <div class="buttons-container">
          <div class="buttons-top">
            <button (click)="isInformationsPatient.set(true)">Informations patient</button>
            <button (click)="viewConsultations()">Consultations</button>
            <button (click)="isAntecedentPatient.set(true)">Antécédents</button>
          </div>

          <div class="buttons-bottom">
            <button (click)="navigation.navigate([ user.role === 'Patient' ? 'patient':'medecin' , 'consulter-DPI',id,'Ordonnances'])">Ordonnances</button>
            <button (click)="navigation.navigate([user.role === 'Patient' ? 'patient':'medecin'  , 'consulter-DPI',id,'Bilans'])">Bilans</button>
          </div>

          <!-- Conditional Display: Informations Patient -->
          @if (isInformationsPatient()) {
            <div class="grey-div" (click)="annuler($event)">
              <div class="card-bouton-info">
                <h2>Consultation des informations du patient</h2>
                <div class="info-container">
                  <div class="div1">
                    <label>Nss:</label>
                    <input type="text" placeholder="NSS" readonly value="{{patient.nss}}">

                    <label>Nom</label>
                    <input type="text" placeholder="nom" readonly value="{{patient.user.last_name}}">

                    <label>Prénom</label>
                    <input type="text" placeholder="prénom" readonly value="{{patient.user.first_name}}">

                    <label>Nom d'utilisateur</label>
                    <input type="text" placeholder="nom d'utilisateur" readonly value="{{patient.user.username}}">
                  </div>

                  <div class="div2">
                    <label>Addresse</label>
                    <input type="text" placeholder="Addresse" readonly value="{{patient.address}}">

                    <label>Date de naissance</label>
                    <input type="date" readonly value="{{patient.date_naissance}}">

                    <label>Tel</label>
                    <input type="tel" placeholder="téléphone" readonly value="{{patient.phone_number}}">
                  </div>
                </div>
                <div class="container3">
                  <button class="annuler" (click)="annuler($event)">Sortir</button>
                </div>
              </div>
            </div>
          }

          <!-- Conditional Display: Antecedents Patient -->
          @if (isAntecedentPatient()) {
          <div class="grey-div" (click)="annuler($event)">
            <div class="card-bouton-info" style="width: 30%;">
              <h2>Antécédents du patient</h2>
              <div class="info-container">
                <div class="div1">
                  <label>Description</label>

                  @if (user.role === "Patient") {
                  <textarea rows="4" type="text" style="width: 200%;" readonly>{{dossier.antecedants}}</textarea>
                  } @else {
                    <textarea rows="4" type="text" style="width: 200%;" [(ngModel)]="dossier.antecedants"></textarea>
                  }
                  
                </div>
              </div>
              <div class="info-container" style="justify-content: center;">
                <div class="div1">
                  <button *ngIf="user.role === 'Medcin'" (click)="mettreAjourAntecedent()">Mettre à jour</button>
                </div>
                <div class="div2">
                  <button class="annuler" (click)="annuler($event)">Sortir</button>
                </div>
              </div>
            </div>
          </div>
          }
        </div>
      </div>
    }
    @loading (minimum 0.5s) {
    <div class="center-div">
      <app-loading-screen />
    </div>
    }
  </div>
</div>
