<app-header (changeDashEvent)="updateDashboardVisibility($event)" />

<div class="content">

  <div class="empty-dash">
    <app-dash-board *ngIf="isDashBoardVisible"></app-dash-board>
  </div>

  <div class="container">

    @defer { <!--Defer is when component needs to load so we show something while loading-->

      <h1>liste des soins</h1>
      
      @for (item of newListe; track item.id) { <!--Parcourir les soins-->
        <div class="card">

          <h2>Soin {{newListe.indexOf(item) + 1}} </h2>

          <label>Sujet de soin</label>
          <input type="text" placeholder="sujet de votre soin" [(ngModel)]="item.subject"> <!--NgModel yerbet input te3 html be un variable fe component class-->
          <label>Description</label>
          <textarea rows="3" placeholder="description pour votre soin" [(ngModel)]="item.description"></textarea>

          <p>Crée le {{item.date}}</p>

          @if (newListe.indexOf(item) != newListe.length - 1) { <button (click)="removeSoin(newListe.indexOf(item))">Supprimer</button> } 
        </div>
      }

      <button (click)="addSoin()">Ajouter un soin</button>
      <button (click)="sauvegarder()">Sauvegarder</button>
      
    } @loading (minimum 1s) { <!--Nesstennaw minimum 1s besh naffichiw @defer-->
      <div class="center-div">
        <app-loading-screen />
      </div>
    }
  
  </div>
</div>

