<app-header (changeDashEvent)="updateDashboardVisibility($event)" />

<div class="content">

  <div class="empty-dash">
    <app-dash-board *ngIf="isDashBoardVisible"></app-dash-board>
  </div>

  <div class="container">

    @defer { <!--Defer is when component needs to load so we show something while loading-->

      <h1>Bienvenue chers medecin {{user.first_name}} {{user.last_name}}</h1>
      
      <div class="container2">

        <div class="card2" >
          <img src="../../../../../assets/icons/new_DPI.png" width="100px" >   

          <button (click)="isCreeDPI.set(true)">  
            <p>Créer DPI</p>    
          </button>

        </div>


        <div class="card"> 

          <button (click)="isScanning = !isScanning">  
            <img src="../../../../../assets/icons/QR.png" width="100px" >
            <p>Rechercher DPI par code QR</p>
          </button>

          <div *ngIf="isScanning">
            <zxing-scanner 
              [start]="true" 
              (scanSuccess)="onScanSuccess($event)"
              (scanFailure)="onScanFailure($event)">
            </zxing-scanner>
          </div>


          <button (click)="isRecherchePatient.set(true)">  
            <img src="../../../../../assets/icons/search.png" width="100px" >
            <p>Rechercher DPI par NSS</p>
          </button>

        </div>

      </div>

      @if (isCreeDPI() || isRecherchePatient()) { <!--Ida medecin cliaka l'un des deux boutons-->

        <div class="grey-div" (click)="annulerRecherche($event)">

          <div class="card3">
 
            <h2>{{isCreeDPI()? "Créer DPI d'un patient":"Rechercher un patient"}}</h2>

            <label>Nss:</label>
            <input type="text" placeholder="NSS" [(ngModel)]="nssInput">  
            
            @if (isCreeDPI()) {

              <label>Nom</label>
              <input type="text" placeholder="nom" [(ngModel)]="patientData.user.first_name"> 
  
              <label>Prénom</label>
              <input type="text" placeholder="prénom" [(ngModel)]="patientData.user.last_name">
  
              <label>Nom d'utilisateur</label>
              <input type="text" placeholder="nom d'utilisateur" [(ngModel)]="patientData.user.username">
  
              <label>Addresse</label>
              <input type="text" placeholder="Addresse" [(ngModel)]="patientData.address">
  
              <label>Date de naissance</label>
              <input type="date" [(ngModel)]="patientData.date_naissance">
  
              <label>numero telephone</label>
              <input type="tel" placeholder="téléphone" [(ngModel)]="patientData.phone_number">
  
              <label>mutuelle</label>
              <input type="tel" placeholder="téléphone" [(ngModel)]="patientData.mutuelle">

            }

            <div class="container2">

              <button (click)="isCreeDPI()? creerDPI() : recherchePatient()">  
                <p> {{isCreeDPI() ? "Créer DPI":"Recherche DPI" }} </p>    
              </button>

              <button class="annuler" (click)="annulerRecherche($event)">
                annuler
              </button>

            </div>

          </div>

          @if (isRecherchePatient()) {<div style="margin-top: 400px;"></div>} 

        </div>

      }
  
      
    } @loading (minimum 0.5s) { <!--Nesstennaw minimum 4s besh naffichiw @defer-->
      <div class="center-div">
        <app-loading-screen />
      </div>
    }
  
  </div>
</div>

