<header class="header-div">
  
  <!-- Conditionally render the button to toggle the dashboard visibility -->
  <button 
    class="toggle-dashboard" 
    [class.shifted]="isDashBoard()" 
    (click)="changeDashState()">
    <img [src]="isDashBoard() ? '../../../assets/icons/threeLinesA.png' : '../../../assets/icons/threeLinesD.png'" width="30">
  </button>

  <!-- <img src="../../../assets/images/TrackMed1.png" width="280px"> -->
  <div class="empty-div"></div>

  <!-- Notification button -->
  <button *ngIf="isNotiPage()" class="activated">
    <img src="../../../assets/icons/NotiActi.png" width="25">
  </button>

  <button *ngIf="!isNotiPage()" class="desactivated" (click)="goToNotifications()">
    <img src="../../../assets/icons/NotiDesacti.png" width="25">
  </button>

  <div class="pfpInfo-div">

    <img src="../../../assets/icons/pfp.png" width="30">
    <div class="info-div">
      <p>{{ user.username }}</p>
      <p>{{ user.role }}</p>
    </div>
    
  </div>
</header>
